// Display
.block {
  display: block;
}

.flex {
  display: flex;
}

// Flex properties
.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.w-full {
  width: 100%;
}

.w-half {
  width: 50%;
}

// Margins
.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.ml-50 {
  margin-left: 50px;
}

// Text
.text-primary {
  color: var(--color-primary);
}

.text-danger {
  color: var(--color-error);
}

.text-success {
  color: var(--color-success);
}

.text-center {
  text-align: center;
}
